<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <main>
    <h1>ABOUT PAGE</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
    <p>Ammon Shepherd</p>
    <img src="/images/me.jpg" />
    <h2>Me likey:</h2>
    <ul>
        <li>3D printing</li>
        <li>3D modeling</li>
        <li>making stuff</li>
    </ul>
    </main>
</body>
</html>